/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  width: 371px;
  margin: 0 auto;
  margin-top: 50px;
}

.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
  margin-right: 8px;
}

.input-form:hover {
  border: 1px solid #000;
}

.input-form:focus {
  border-color: #4e75ff;
  outline: none;
}

.button-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.button-form:hover {
  background-color: #6c8cff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-item a {
  display: block;
  height: 100%;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px 0;
  background-color: #fff;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

.info p b {
  line-height: 2;
  font-size: 12px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  margin: 20px auto;
  width: 48px;
  height: 48px;
  color: #120e0e;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.load-more-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.load-more-btn{
  max-width: 200px;
  width: 100%;
}